@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using MyProject.Interfaces;

@inject ICustomerService _customerService
@{
    var customers = await _customerService.GetAllCustomersAsync(); 
}
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>DONATOR</th>
            <th>NICKNAME</th>
            <th>EMAIL</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in customers)
        {  
            <tr>
                <td width="33%">@customer.CustomerFullName</td>
                <td width="33%">@customer.CustomerUserName</td>
                <td width="33%">@customer.CustomerEmail</td>
            </tr>
        }
    </tbody>     
</table>