@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using MyProject.ViewModels.Product

<div class="card col-3 m-2">
        <div class="card-header">
            @ProductViewModel.Equals
        </div>
        <div class="card-body">
            <h6 class="card-title text-truncate">
                Price: $99
            </h6>
            @*<a href="#" class="btn btn-primary">Go to details</a>
            <a asp-controller="Products" asp-action="ViewDetails" asp-route-id="@product.ProductId">Go to details 2</a>
*@
        </div>
        <div class="card-footer text-muted">
            <small>pe bủh</small>    
        </div>
    </div>