@using Umbraco.Cms.Web.Common.PublishedModels;
@using MyProject.ViewModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Content>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@*@inject ICustomerService _customerService;*@
@{
	Layout = "Master.cshtml";
}

<!-- Main container -->
        <div class="container">
            
            <div class="row section">
                <div class="col-md-12">
                    @Model.Value("bodyText")*
                    
                    @*@{
                        Html.RenderPartial("~/Views/Partials/CustomerForm.cshtml", new CustomerViewModel());
                     }*@
				</div>
                @*<h1>_customerService.GetAllCustomersAsync()</h1>*@
            </div>

        </div>