@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

<!-- Main container -->
        <div class="container">
            <div class="row section">
                <div class="col-md-12">
                    @Model.Value("bodyText")
				</div>
            </div>
            <div class="row section text-center">                        
                <div class="col-md-12">           
                    <a href="javascript:void(0);" onclick="history.go(-1);">Back to previous page</a>                    
                </div>        
            </div> 
        </div>