@using Umbraco.Cms.Web.Common.PublishedModels;
@using MyProject.ViewModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.OrdersPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- Main container -->
        <div class="container">
            <div class="row section">
                <h2>
                    @Model.Value("info")
                </h2>
            </div>
            @await Html.PartialAsync("MinimalOrdersList")   
        </div>