@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProductsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
	<div class="row g-0">
		@await Html.PartialAsync("ProductsList")   
	</div>
	<div class="row section text-center">                                        
		<div class="col-md-12">                               
			<a href="javascript:void(0);" onclick="history.go(-1);">Back to previous page</a>                                
		</div>            
	</div> 
</div>