@using Umbraco.Cms.Web.Common.PublishedModels;
@using MyProject.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ViewersPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- Main container -->
        <div class="container">
            <div class="row section">
                <h2>
                    @Model.Value("info")
                </h2>
                <div class="col-md-12">
                    @await Html.PartialAsync("CustomersList")
                </div>
                <div class="col-md-6">
                    @{
                        Html.RenderPartial("~/Views/Partials/CustomerForm.cshtml", new Customer());
                     }
				</div>
                <div class="col-md-6">
                    @Model.Value("body")
                </div>
            </div>
        </div>